body {
    margin: 0;
    background-color: white;
}

.wallpaper-container {
    /* background: green; */
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.wallpaper-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filter-wallpaper {
    position: absolute;
    background: #030834;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
}

nav {
    /* background: green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    color: black;
    border-bottom: 1px solid black;
}

.judul {
    padding-left: 50px;
}
.menu {
    /* background: grey; */
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.menu p:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}

.contents {
    color: white;
    width: 100%;
    height: auto;
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.gambar {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 25%;
    background-color: black;
    border-radius: 25px;
    gap: 20px;
    padding: 10px;
}

.gambar img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.gambar-1 {
    object-position: 0% 100%;
}

.gambar-2 {
    object-position: 0% 65%;
}

.gambar-3 {
    object-position: 0% 20%;
}

.gambar p {
    margin: 0;
}

h1 {
    padding-left: 47%;
    margin: 50px 0;
    /* border-top: 1px solid black; */
    /* border-bottom: 1px solid black; */
}

.h1-2 {
    padding-left: 43.5%;
    margin: 50px 0;
}

.maskapai {
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.maskapai img {
    width: 15%;
    height: auto;
}
