body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    /* background-color: black; */
}

.wallpaper-container {
    /* background: green; */
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.wallpaper-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filter-wallpaper {
    position: absolute;
    background: #030834;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
}

nav {
    /* background: green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    color: white;
}

.judul {
    padding-left: 50px;
    display: flex;
    align-items: center;
}

.judul img {
    width: auto;
    height: 55px;
}

.menu {
    /* background: grey; */
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    
}

.menu p:hover {
    border-bottom: 2px solid white;
    cursor: pointer;
}

.content {
    /* background-color: grey; */
    position: absolute;
    top: 20%;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;

}

.contactus {
    background: rgba(255, 255, 255, 0.15);
    width: 35%;
    height: 85%;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
}

.contactus .wrapper-contactus {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border-radius: 20px;
    justify-content: space-evenly;
    
}

.contactus .a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contactus .a p {
    width: 120px;
}

.info {
    /* background: rgba(255, 255, 255, 0.3); */
    display: flex;
    flex-direction: column;
}

.form {
    /* background: rgba(255, 255, 255, 0.3); */
    width: 35%;
    height: 95%;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.form .all {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form .all input {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    width: 100%;
    height: 30px;
    color: white;
    font-size: 15px;
    font-family: monospace;
}

.form .all textarea {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    width: 100%;
    color: white;
    font-size: 15px;
    font-family: monospace;
}

.form .button {
    position: relative;
    left: 89%;
    width: fit-content;

}

.form .button button {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.form .button button:hover {
    background-color: black;
    color: yellow;
}

.form .button button:active {
    box-shadow: 2px 2px 5px black;
}

@media (max-width:980px){
    .content {
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 50px;
    }

    .contactus {
        width: 50%;
        height: auto;
    }

    .wrapper-contactus {
        gap: 10px;
    }

    h1{
        margin: 0;
        border-bottom: 2px solid white;
    }
}