body {
    margin: 0;
    overflow: hidden;
}

.popUp {
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
    height: 50%;
    color: white;
    font-family: monospace;
    visibility: hidden;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    justify-content: center ;
    align-items: center;
}

.popUp .confirmation {
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.popUp .confirmation p {
    margin: 0;
}

.popUp .confirmation button {
    width: 50%;
    height: 10%;
    color: white;
    background-color: black;
    border: none;
    border-radius: 20px;
}

.popUp .information {
    /* background-color: blue; */
    /* justify-content: center; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.popUp .information .booking {
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.popUp .information .booking input {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 15px;
}

.popUp .information .button {
    /* background-color: black; */
    width: 100%;
    display: flex;
    height: 10%;
    justify-content: space-evenly;
}

.popUp .information .button button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 15px;
    font-family: monospace;
    border-radius: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

.popUp img {
    width: 35%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: 100%;
    box-shadow: 5px 5px 15px black;
}

.wallpaper-container {
    /* background: green; */
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.wallpaper-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filter-wallpaper {
    position: absolute;
    background: #030834;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
}

nav {
    /* background: green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    color: white;
}

.judul {
    padding-left: 50px;
}

.menu {
    /* background: grey; */
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    
}

.menu p:hover {
    border-bottom: 2px solid white;
    cursor: pointer;
}

.menu-destination {
    /* background-color: black; */
    position: relative;
    margin-top: 5%;
    margin-left: 3%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    width: 20%;
    height: fit-content;
    
}

.menu-destination .liburan {
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.menu-destination .hotel {
    background-color: rgb(0, 0, 0, .5);
    width: fit-content;
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.destination {
    /* background: grey; */
    color: white;
    font-family: monospace;
    font-size: large;
    position: relative;
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    height: 350px;
    display: flex;
    gap: 30px;
    overflow: auto;
    
}

.destination .destination-1 {
    /* background-color: #030834; */
    min-width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.destination .destination-1 .icon {
    /* background: blue; */
    width: 100%;
    height: 87%;
    border-radius: 20px;
    box-shadow: 5px 5px 15px black;
}

.destination .destination-1 .icon img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: 100%;
}

.destination::-webkit-scrollbar {
    width: 0;
}
