body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: black;
}

.wallpaper-container {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.wallpaper-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filter-wallpaper {
    position: absolute;
    background: #030834;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    color: white;
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

.contents {
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 80px;
    margin-left: 80px;
}

@media (max-width:1130px){
    .contents {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .wallpaper-container{
        width: 100%;
        height: 165%;
        object-fit: cover;
    }
    
    .wallpaper-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .filter-wallpaper {
        position: absolute;
        background: #030834;
        width: 100%;
        height: 165%;
        opacity: 0.4;
        z-index: -1;
    }

    @media (max-width:600px){
        .destinations {
            flex-direction: column;
            width: auto;

        }
    }
}

.judul {
    padding-left: 50px;
}
.menu {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    
}

.menu p:hover {
    border-bottom: 2px solid white;
    cursor: pointer;
}

.Teks {
    color: white;
    
}

.Teks h1 {
    /* background-color: green; */
    font-family: Inter;
    font-size: 80px;
    font-weight: 900;
    font-style: normal;
    line-height: normal;
    width: fit-content;

}

.Teks p {
    /* background: green; */
    font-family: Inter;
    font-size: 20px;
    width: 450px;
    height: fit-content;
}

.destinations {
    width: 600px;
    height: 400px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: white;
    gap: 30px;
    overflow-x: auto;
}

.destination-1:first-child{
    margin-left: 20px;
}

.destination-1:last-child {
    margin-right: 20px;
}

.destinations::-webkit-scrollbar {
    width: 0;
}

.destination-1 {
    min-width: 40%;
    height: 98%;
    border-radius: 20px;
}
.nama {
    width: 100%;
    height: 7.5%;
}

.rating {
    height: 7.5%;
}

.icon {
    width: 100%;
    height: 85%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
}

.icon img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: 100%;
}