body {
    margin: 0;
}

.wallpaper-container {
    /* background: green; */
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.wallpaper-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filter-wallpaper {
    position: absolute;
    background: #030834;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
}

nav {
    /* background: rgba(0,0,0,0.2);
    border-radius: 0 0 20px 20px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    color: white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.judul {
    padding-left: 50px;
}
.menu {
    /* background: grey; */
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    
}

.menu p:hover {
    border-bottom: 2px solid white;
    cursor: pointer;
}

.Teks {
    margin-top: 150px;
    margin-left: 150px;
    color: white;
    
}

.Teks h1 {
    /* background-color: green; */
    font-family: Inter;
    font-size: 80px;
    font-weight: 900;
    font-style: normal;
    line-height: normal;
    width: fit-content;

}

.Teks p {
    /* background: green; */
    font-family: Inter;
    font-size: 20px;
    width: 450px;
    height: fit-content;
}

.destinations {
    /* background: gray; */
    width: 600px;
    height: 400px;
    border-radius: 20px;
    position: absolute;
    top: 25%;
    right: 3%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: white;
    gap: 30px;
    overflow-x: auto;
}

.destination-1:first-child{
    margin-left: 20px;
}

.destination-1:last-child {
    margin-right: 20px;
}

.destinations::-webkit-scrollbar {
    width: 0;
}

.destination-1 {
    /* margin-left: 15px; */
    /* background: green; */
    min-width: 40%;
    height: 98%;
    border-radius: 20px;
    /* overflow: auto; */
}
.nama {
    /* background: wheat; */
    width: 100%;
    height: 7.5%;
}

.rating {
    height: 7.5%;
}

.icon {
    /* background: blue; */
    width: 100%;
    height: 85%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    /* margin-top: 35px;
    margin-bottom: 0px; */
}

.icon img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: 100%;
}