body {
    margin: 0;
    background-color: white;
}

nav {
    background: rgba(255, 225, 150, 0.88);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
}

.judul {
    padding-left: 50px;
}
.menu {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.menu p:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}

.Ticket-text {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-family: monospace;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}

.Ticket {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;
    box-shadow: 5px 1px 15px black;

}

.content .pesawat {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.DestinasiTicket {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.DestinasiTicket .destination {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: large;
    font-family: monospace;
    font-weight: bold;
    box-shadow: 5px 5px 15px black;
    border-radius: 20px;
    gap: 20px;
}

.destination .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: larger;
    font-weight: 500;
}

.destination .icon {
    border-radius: 20px;
    width: 60%;
    height: 100%;
}

.destination .icon img {
    width: 100%;
    min-height: 100%;
    border-radius: 20px;
    object-fit: cover;
}