body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.wallpaper-container {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.wallpaper-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filter-wallpaper {
    position: absolute;
    background: #030834;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    color: white;
}

.judul {
    padding-left: 50px;
    display: flex;
    align-items: center;
}

.judul img {
    width: auto;
    height: 55px;
}

.menu {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    
}

.menu p:hover {
    border-bottom: 2px solid white;
    cursor: pointer;
}

.content {
    color: white;
    font-family: monospace;
    font-size: larger;
    position: absolute;
    top: 25%;
    left: 14%;
    width: 70%;
    height: 50%;
    border: 2px solid white;
    border-radius: 20px;
    background: rgba(0, 33, 117, 0.20);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    overflow-y: scroll;
}

.content::-webkit-scrollbar {
    width: 0;
}

.content .contents {
    width: 25%;
    height: auto;
    border-bottom: 2px solid white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content .contents p {
    margin: 0;
}

.pesan-ticket { 
    color: black;
    border: none;
    width: 20%;
    height: 15%;
}

.pesan-ticket button {
    border: none;
    width: 100%;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: large;
    border-radius: 20px;
    cursor: pointer;
}

.content input {
    color: white;
    background-color: rgba(0, 33, 117, 0.0);
    border: none;
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-family: monospace;
}

.content select {
    color: white;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-family: monospace;
    font-size: 15px;

}

.content option{
    color: black;
    border: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

.search-ticket {
    display: flex;
    min-width: 236px;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    gap: 10px;
}

.search-ticket p {
    margin: 0;
}

.search-ticket button {
    background-color: rgb(1, 148, 243);
    font-size: 20px;
    font-family: monospace;
    color: white;
    border: none;
    border-radius: 10px;
}

.pesawat {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.PesanBtn {
    cursor: pointer;
}

.PesanBtn:active {
    background-color: black;
    color: white;
}

.pesan-ticket button:active {
    background-color: black;
    color: white;
}