body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.wallpaper-container {
    background: green;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.wallpaper-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filter-wallpaper {
    position: absolute;
    background: #030834;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
}

nav {
    /* background: green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    color: white;
}

.judul {
    padding-left: 50px;
}
.menu {
    /* background: grey; */
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    
}

.menu p:hover {
    border-bottom: 2px solid white;
    cursor: pointer;
}

.Teks {
    margin-top: 150px;
    margin-left: 150px;
    color: white;
    
}

.Teks h1 {
    /* background-color: green; */
    font-family: Inter;
    font-size: 80px;
    font-weight: 900;
    font-style: normal;
    line-height: normal;
    width: fit-content;

}

.Teks p {
    /* background: green; */
    font-family: Inter;
    font-size: 20px;
    width: 450px;
    height: fit-content;
}

.destinations {
    /* background: gray; */
    width: 600px;
    height: 400px;
    border-radius: 20px;
    position: absolute;
    top: 25%;
    right: 3%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.nama {
    /* background: wheat; */
    width: 100%;
    height: 7.5%;
}

.rating {
    height: 7.5%;
}

.icon {
    background: blue;
    width: 100%;
    height: 85%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    /* margin-top: 35px;
    margin-bottom: 0px; */
}

.icon img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: 100%;
}

.destination-1 {
    /* background: green; */
    width: 40%;
    height: 90%;
    border-radius: 20px;
}

.maskapai {
    position: absolute;
    top: 175%;
    background: rgb(0, 0, 0);
    /* opacity: 0.5; */
    width: 100%;
    height: 250px;
    color: white;
    /* border-radius: 20px; */
    /* border-top: 1px dashed black; */
    
}

.maskapai h1 {
    /* padding-top: 20px; */
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    color: white;
}

.icon-maskapai {
    /* background: white; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.icon-maskapai img {
    width: 145px;
    height: auto;
}

.our-team {
    position: absolute;
    top: 100%;
    background: black;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.our-team h1 {
    font-family: monospace;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.icon-team {
    /* background: blue; */
    width: 100%;
    height: 80%;
    display: flex;
    gap: 10px;
    

}
.icon-team .gambar {
    /* background: grey; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 70%;
    border-radius: 20px;
}

.icon-team .gambar .hanifa {
    width: 65%;
    height: 50%;
    object-fit: cover;
    border-radius: 50%;
    object-position: 50% 100%;
    /* width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: 100%; */
}

.icon-team .gambar .bia {
    width: 65%;
    height: 50%;
    object-fit: cover;
    border-radius: 50%;
    object-position: 50% 20%;
    /* width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: 100%; */
}

.icon-team .gambar img {
    width: 65%;
    height: 50%;
    object-fit: cover;
    border-radius: 50%;
    object-position: 50% 70%;
    /* width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: 100%; */
}